<ng-template [ngIf]="dictionaryState$">
    <div class="taskbar mb-4">
        <h1>{{ (dictionaryState$ | async).loading ? "Loading..." : "Cultures" }}</h1>
        <ul>
            <li>
                <a routerLink="/dictionary/cultures">
                    <i class="la la-folder"></i>
                    Cultures
                </a>
            </li>
        </ul>
    </div>

    <ng-template [ngIf]="(dictionaryState$ | async).error">
        <div class="alert alert-danger" role="alert">
            <h5 class="alert-heading">
                Oops, an error occured!
            </h5>
            <p>
                {{(dictionaryState$ | async).error}}
            </p>
        </div>
    </ng-template>

    <ng-template [ngIf]="culture">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2>Edit Culture</h2>
                    </div><form (submit)="save()">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" value="{{culture.name}}" disabled />
                                        <small class="form-text">The culture name cannot be changed.</small>
                                    </div>
                    
                                    <div class="form-group">
                                        <label for="displayName">Display Name</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="displayName"
                                            id="displayName"
                                            [(ngModel)]="culture.displayName"
                                            maxlength="45"
                                            required
                                        />
                                    </div>
                            
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Metadata</h4>
                    </div>
                    <div class="card-body">
                        <dl>
                            <dt>Date Created</dt>
                            <dd>{{ culture.dateCreated | date }}</dd>
                            <ng-template [ngIf]="culture.dateUpdate !== null">
                                <dt>Date Updated</dt>
                                <dd>{{ culture.dateUpdated | date }}</dd>
                            </ng-template>
                            <dt>Is Default</dt>
                            <dd>{{ culture.isDefault ? "Yes" : "No" }}</dd>
                        </dl>
                    </div>
                    <div class="card-footer d-flex flex-row-reverse">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-warning" (click)="setAsDefault()" [disabled]="culture.isDefault">
                                Set as default
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" (click)="delete()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </ng-template>

</ng-template>
