*.user
*/.vs/*

Pages/API/bin/*
Pages/API/obj/*
Pages/Domain/bin/*
Pages/Domain/obj/*
Pages/Infrastructure/bin/*
Pages/Infrastructure/obj/*

Users/API/bin/*
Users/API/obj/*
Users/Domain/bin/*
Users/Domain/obj/*
Users/Domain.Tests/bin/*
Users/Domain.Tests/obj/*
Users/Infrastructure/bin/*
Users/Infrastructure/obj/*

Shared/Shared/bin/*
Shared/Shared/obj/*
Migrations/Migrations/bin/*
Migrations/Migrations/obj/*