<ng-template [ngIf]="itemListState$">
    <p>
        <label>Culture:</label>
        <br />
        <select
            name="culture"
            id="culture"
            (change)="onCultureChange()"
            [(ngModel)]="culture"
        >
            <option value="en-GB">English (UK)</option>
            <option value="pl-PL">Polish</option>
        </select>
    </p>

    <ng-template [ngIf]="(itemListState$ | async).error">
        <p>
            {{ (itemListState$ | async).error }}
        </p>
    </ng-template>

    <app-create-item (created)="onCreated($event)"></app-create-item>

    <ng-template
        [ngIf]="
            (itemListState$ | async).loading &&
            (itemListState$ | async).items.length < 1
        "
        [ngIfElse]="table"
    >
        <p>Loading...</p>
    </ng-template>

    <ng-template #table>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <ng-template [ngIf]="item.loading">
                        <td colspan="3">Loading...</td>
                    </ng-template>
                    <ng-template [ngIf]="!item.loading && !item.editing">
                        <td>{{ item.displayName }}</td>
                        <td>{{ item.value }}</td>
                        <td>
                            <button type="button" (click)="toggleEdit(item)">
                                Edit
                            </button>
                            <button type="button" (click)="deleteItem(item)">
                                Delete
                            </button>
                        </td>
                    </ng-template>
                    <ng-template [ngIf]="!item.loading && item.editing">
                        <td>
                            <input
                                type="text"
                                name="displayName"
                                maxlength="255"
                                [(ngModel)]="item.displayName"
                            />
                        </td>
                        <td>
                            <input
                                type="text"
                                name="value"
                                maxlength="255"
                                [(ngModel)]="item.value"
                            />
                        </td>
                        <td>
                            <button type="button" (click)="saveItem(item)">
                                Save
                            </button>
                            <button type="button" (click)="deleteItem(item)">
                                Delete
                            </button>
                        </td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </ng-template>
</ng-template>
