<ng-template [ngIf]="itemListState$">
    <p>
        <label>Culture:</label>
        <br />
        <select
            name="culture"
            id="culture"
            (change)="onCultureChange()"
            [(ngModel)]="culture"
        >
            <option value="en-GB">English (UK)</option>
            <option value="pl-PL">Polish</option>
        </select>
    </p>

    <ng-template [ngIf]="(itemListState$ | async).error">
        <p>
            {{ (itemListState$ | async).error }}
        </p>
    </ng-template>

    <app-create-item (created)="onCreated($event)"></app-create-item>

    <ng-template
        [ngIf]="
            (itemListState$ | async).loading &&
            (itemListState$ | async).items.length < 1
        "
        [ngIfElse]="table"
    >
        <p>Loading...</p>
    </ng-template>

    <ng-template #table>
        <table>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of (itemListState$ | async).items">
                    <td>{{ item.key }}</td>
                    <td>
                        <ng-template [ngIf]="item.loading">
                            Loading...
                        </ng-template>
                        <ng-template [ngIf]="!item.loading">
                            <app-item-list-edit-field
                                [item]="item"
                                (updated)="onUpdated($event)"
                            ></app-item-list-edit-field>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
</ng-template>
