$primary: #00a6c0;
$success: #a5e65a;
$dark: #5f7174;
$secondary: #6a888c;
$info: #32d8cb;
$warning: #ffb347;
$danger: #ff6464;

$navbar-text-color: #fff;
$navbar-background-color: $dark;

// Greenish
// $primary: #abc270;
// $success: #a5e65a;
// $dark: #463c33;
// $secondary: #fec868;
// $info: #fda769;
// $warning: #ffb347;

// $navbar-text-color: #fff;
// $navbar-background-color: $primary;

// Brownish
// $primary: #ff2525;
// $success: #a5e65a;
// $dark: #432344;
// $secondary: #ffc03d;
// $info: #fda769;
// $warning: #ffb347;

// $navbar-text-color: #e7eefb;
// $navbar-background-color: $dark;

// Colourful
// $primary: #2c1654;
// $success: #00be65;
// $dark: #2c1654;
// $secondary: #ff6464;
// $info: #fdbf50;
// $warning: #fdbf50;

// $navbar-text-color: #fff;
// $navbar-background-color: $dark;

// Light-colourful
// $primary: #7530ff;
// $success: #00be65;
// $dark: #7530ff;
// $secondary: #369fff;
// $info: #ffbe00;
// $warning: #ffbe00;
// $danger: #ff6464;

// $navbar-text-color: #fff;
// $navbar-background-color: $primary;
