.toast-container {
    .ngx-toastr {
        border-radius: 0;

        &.toast-error {
            background-color: $alert-background-danger;
        }

        &.toast-success {
            background-color: $alert-background-success;
        }
    }
}
