<nav class="navbar sticky-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"
        >Company name</a
    >
    <button
        class="navbar-toggler position-absolute d-md-none collapsed"
        type="button"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <select (change)="onCultureChange($event)" id="cultures" class="form-control form-control-dark w-100">
        <ng-template [ngIf]="(dictionaryState$ | async)?.cultures">
            <option *ngFor="let item of (dictionaryState$ | async).cultures" value="{{item.name}}" [selected]="item.name === culture">
                {{item.displayName}}
            </option>
        </ng-template>
    </select>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>