<ng-template [ngIf]="roleListState$">
    <ng-template [ngIf]="(roleListState$ | async)?.error !== null">
        <p>{{ (roleListState$ | async).error }}</p>
    </ng-template>

    <ng-template [ngIf]="role.loading">
        <p>Loading...</p>
    </ng-template>

    <form (submit)="onSubmit()">
        <p>
            <label for="name">Name</label>
            <br />
            <input
                type="text"
                id="name"
                name="name"
                autocomplete="off"
                required
                [(ngModel)]="role.name"
            />
        </p>

        <p>
            <button type="submit">Create</button>
        </p>
    </form>
</ng-template>
