<div class="taskbar mb-4">
    <h1>Dictionary</h1>
    <ul>
        <ng-template [ngIf]="dictionaryState$">
            <li class="w-auto">
                <select [(ngModel)]="culture" (change)="onCultureChange()" id="cultures" class="form-control">
                    <option value="--">Create</option>
                    <optgroup label="Supported">
                        <option *ngFor="let culture of (dictionaryState$ | async).cultures" value="{{ culture.name }}">
                            {{culture.displayName}}
                        </option>
                    </optgroup>
                </select>
            </li>
        </ng-template>
    </ul>
</div>

<app-dictionary-item-list></app-dictionary-item-list>
