<ng-template [ngIf]="dictionaryState$">
    <div class="taskbar mb-4">
        <h1>{{(dictionaryState$ | async).loading ? "Loading..." : "Dictionary"}}</h1>
        <ul>
            <li>
                <a routerLink="/dictionary/cultures">
                    <i class="la la-folder"></i>
                    Cultures
                </a>
            </li>
        </ul>
    </div>
</ng-template>

<div class="row">
    <div class="col-md-9">
        <app-dictionary-item-list></app-dictionary-item-list>
    </div>
    <div class="col-md-3">
        <app-create-item [culture]="culture"></app-create-item>
    </div>
</div>
