<ng-template [ngIf]="item">
    <ng-template [ngIf]="item.editing">
        <form (submit)="onSave()">
            <input
                type="text"
                name="value"
                id="value"
                [(ngModel)]="item.value"
            />
            <button type="submit">Save</button>
        </form>
    </ng-template>
    <ng-template [ngIf]="!item.editing">
        {{ item.value }}
        <button type="button" (click)="edit()">Edit</button>
    </ng-template>
</ng-template>
