<form (submit)="loadCultures($event)">
    <p>
        <input
            type="text"
            name="term"
            [(ngModel)]="term"
            placeholder="Search..."
        />
        <button type="submit">Search</button>
    </p>
</form>

<ng-template [ngIf]="(dictionaryState$ | async).error">
    <p>
        {{ (dictionaryState$ | async).error }}
    </p>
</ng-template>

<ng-template [ngIf]="dictionaryState$">
    <table>
        <thead>
            <tr>
                <th>Display Name</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-template [ngIf]="loading">
                <tr>
                    <td colspan="3">Loading...</td>
                </tr>
            </ng-template>
            <ng-template [ngIf]="!loading">
                <tr
                    *ngFor="let culture of (dictionaryState$ | async).cultures"
                    [class.default]="culture.isDefault"
                >
                    <td>{{ culture.displayName }}</td>
                    <td>{{ culture.name }}</td>
                    <td>
                        <a routerLink="/dictionary/cultures/{{ culture.id }}"
                            >Edit</a
                        >
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</ng-template>
